div{
    background-color: white;
}
h1{
    text-align: center;
    color: red;
}

.box_Title{
    text-align: center;
    border-color: black;
    width: 33.299%;
    height: 100%;
    float: left;
    background-color: gray;
}

.box_VentaMes{
    text-align: center;
    border-color: black;
    width: 33.299%;
    height: 90px;
    float: left;
    
}
.Sub_Title{
    text-align: center;
    background-color: blanchedalmond;
    color: black;
    
}